<section class="about_section p-3">
    <div class="container text-center bg-black text-white rounded-3">
        <div class="row">
            <div class="col-md-12 p-4">
                <h3>About this slide</h3>
                <p><%= about_part[0]["about"] %></p>
                <button class="btn btn-success">
                    Contact us
                </button>
            </div>
        </div>
    </div>
</section>