<div class="contaienr text-center bg-black text-white py-5 mx-2">
    <div class="first_text text-bold fs-1 fw-bold py-3">All are open to provide any kind of data</div>
    <div class="second_text fs-5 fw-meidum py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio repellat dicta a sint totam in culpa itaque aperiam. Odit quia sit iure libero odio!</div>
    <button class="px-3 py-2 rounded-5 text-white fw-bold bg-black text-5px border aligning border-secondery">Sign in</button>
</div>