<section id="contact_us_section" class="bg-black text-white">
    <div class="container p-3">
        <h2 class="text-center text-secondary">Contact Us</h2>
        <form action="/process-contact-form" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Your email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputnumber" class="form-label">Your contact number</label>
        <input name="phone" type="number" class="form-control" id="exampleInputnumber">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="form-floating my-5 text-dark">
            <div class="text-white font-bold my-2">Enter you query</div>
            <textarea name="query" class="form-control" rows="5" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
        </div>
            <div class="container text-center"><button type="submit" class="btn btn-primary py-10">Submit</button></div>
    </form>
</div>

</section>