<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-4 fs-5">
    <div class="container">
      <a class="navbar-brand fs-5 fw-semibold" href="#">
        <img width="35px" height="35px"  src="<%=details.brandUrl %>" alt="No Image">
        <%=details.brandName %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% for( let i = 0; i < details.links.length; i++ ) { %>
            <li class="nav-item">
              <a class="nav-link active" href="<%=details.links[i].url %>" ><%=details.links[i].label %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>