<section class="banner2_section py-5 mx-5 my-3 rounded-2 bg-black text-white"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center pt-5">
            <h3>
                we work for people , not for money
            </h3>
            <p>
                <%= section_part[0]["details_txt"] %>
            </p>
            </div>
            <div class="col-md-6 text-center pt-5">
                <img class="img-fluid" style="height: 350px;" src="<%=section_part[0]["img"] %>" alt="Not Image">
            </div>
        </div>
    </div>
</section>